/*
    Document   : modules
    Created on : May 15, 2013, 12:11:23 PM
    Author     : Angela
    Description:
    Purpose of the stylesheet follows.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
