/**************** HEADER - biggest wrappers & gray bar ****************/

#all { width: 100%; }
#grayBar {
  width: 99%;
  background-color: #666;
  height: 24px;
  color: white;
  padding: 0;
  margin: 0 auto;
}
#grayBar div {
  display: inline;
  margin: 3px 12px 0 12px;
}
#grayBar div img { margin-top: 2px; }

/**************** HEADER - main wrappers & nav ****************/

#main {
  width: 980px;
  margin: 0 auto;
}
#navBar {
  background-color: #ccc;
  cursor: pointer;
  display: table;
  font-weight: bold;
  height: 42px;
  margin: 10px 0 14px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-spacing: 0;
}
.tab {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  border-right: 1px solid #aaa;
}
#elephant {
  vertical-align: bottom;
  padding: 0 4px 2px 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#track {
  background-color: #ec681f;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: none;
}

/**************** FOOTER ****************/
#resetGig {
  margin: 20px auto;
  text-align: center;
  display: block;
  border: 2px solid #ccc;
  color: #999;
}

/******************************************************/
/**************** STEPS - big wrappers ****************/
/******************************************************/

.contentFrame {
  width: 100%;
  background-color: white;
}
.content {
  margin: 20px;
}

/**************** STEP 1 -- text & contact input ****************/

.contactTile {
  background-color: #3686a5;
  color: black;
  height: 30px;
  display: inline-table;
  margin: 10px 0;
  padding: 0 4px;
  cursor: move;
}
.contactTile div {
  display: table-cell;
  vertical-align: middle;
  margin: 0 10px;
}
.contactTile .profile {
  height: 14px;
  width: 14px;
  margin: 4px 6px 0;
}
#contactInput { min-width: 220px; }

/**************** STEP 1 -- jQuery styling ALL ****************/

/*generic widgets*/
.ui-widget-content {
  font-size: 1em !important;
  /*border: 1px solid #ccc;*/
  color: #333;
  font-family: "arial",sans-serif !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea {
  font-size: 0.9em !important;
}
.ui-widget .bigButton {
  font-size: 1.4em !important;
}
/*autocomplete*/
/*.ui-menu-item,*/
.ui-widget-content {
  color: #333 !important;
  border: 1px solid #aaa;
}
.ui-widget-content {
  border: 1px solid #bbb;
}
.ui-menu {
  padding: 1px;
}
.ui-autocomplete {
  overflow: hidden;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
}
.ui-dialog {
  overflow: hidden;
  box-shadow: 0px 0px 6px #bbb;
}
#dialog, .ui-dialog-buttonpane {
  box-shadow: none !important;
}
/*.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,*/
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-image: none !important;
  background-color: #b0dcdf;
  border: none;
  border-radius: 0;
  overflow: hidden !important;
}
/*dialog*/
.ui-widget-header,
.ui-datepicker-header {
  background-image: none;
  background-color: #b0dcdf;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #bbb;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: none;
  background-color: #eee;
  overflow: hidden !important;
}
.ui-dialog,
.ui-datepicker,
.ui-dialog-buttonpane {
  margin-top: 0 !important;
  padding: 0;
}
.ui-dialog-buttonpane {
  border-width: 0 !important;
}
.ui-dialog-title {
  font-size: 1.2em;
}
.ui-dialog .ui-dialog-titlebar-close { /*adjusts close button for title font size*/
  margin: -12px 0 0 0 !important;
}
.ui-datepicker table { /*for table*/
  margin: 0 0 2px 0 !important;
}

/**************** STEP 1 -- contact cards ****************/

.contactCardsFrame, .chooseInfoFrame {
  padding: 0;
  display: table;
  border-collapse: collapse;
}
.contactCardsFrame {
  width: 938px;
  margin: 10px auto 0;
}
.contactCard, .chooseInfo {
  display: table-cell;
  width: 33.3%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.chooseInfoFrame {
  width: 98%;
  margin: 10px auto 20px;
}
.chooseInfo {
  padding: 8px;
  font-size: 0.9em;
}

.header.mini {
  padding-left: 10px;
  padding-right: 10px;
  height: 38px;
}

.header.mini h2 {
  color: #3686a5;
  margin-left: 2px;
  font-size: 1.3em;
  font-weight: 500;
}
.header.mini img { padding-top: 0; }

.contactCardSubhead {
  font-size: 0.7em;
  color: #666;
  padding: 2px 15px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
}
.contactContent { margin: 15px; }

.contactContent .profile {
  float: left;
  margin: 0 8px 4px 0;
}
.contactContent h3 {
  font-weight: bold;
  font-size: 1.2em;
}
.contactContent { font-size: 0.9em; }
.contactContact .contactInfo { margin-top: 10px; }

.contactContent p,
.contactContent h3,
.contactInfo div {
  margin-top: 3px;
  margin-bottom: 10px;
}
.contactContent .jobTitle {
  color: #666;
  /* font-size: 1.1em; */
}
.contactContent .iconStartLine { margin-bottom: -4px; }

.contactInfo .infoType {
  color: #999;
  float: right;
  text-align: right;
}
h3.hint {
  color: #999;
  font-weight: normal;
  margin: 40px auto;
  text-align: center;
}
.dropHere h3.hint {
  color: #3686a5 !important;
  font-weight: bold;
}

/****************************************/
/**************** STEP 2 ****************/
/****************************************/

input#gigTitle{ min-width: 320px; }

.personalNotes {
  background-color: #b8b1ca;
  padding: 20px;
  border-radius: 12px;
}
.personalNotes .header img {
  margin-bottom: -3px;
  margin-right: 10px;
}
.insetArea {
  background-color: white;
  padding: 25px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px;
}
#dollarValue {
  width: 70px;
  font-size: 1.1em;
}
.personalNotes .noteFrame {
  margin: 10px 30px 0;
}

/****************************************/
/**************** STEP 3 ****************/
/***************************************/

input.date { width: 50px; }

.topLabels .progLabel {
  cursor: default;
}

.progLabel {
  width: 174px;
}
.ui-datepicker-trigger { margin: 0 0 -7px 6px; }
.reminderMessage {
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
  margin: 30px auto;
}

.resetPage {
  margin: 8px auto 0;
  text-align: center;
  font-size: 0.75em;
  display: none;
}

/****************************************/
/**************** STEP 4 ****************/
/***************************************/

.previewContent { padding: 15px; }

.previewContent h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#rightFrame {
  width: 290px;
  margin: 0;
  padding: 0;
  float: right;
}

/* #saveAndView  button {
  font-size: 1.8em;
  width: 280px;
} */

.disc { margin: 20px 30px; }
.disc .header { margin-bottom: 15px; }

.disc .header img {
  margin-bottom: -5px;
  margin-right: 10px;
}
.disc .header h2 {
  display: inline-block;
  color: #3686a5;
}
#cantSubmit {
  display: none;
  color: #999;
  margin-right: 6px;
}
.editLink, .selectContactInfo {
  font-size: 0.75em;
}
.editLink {
  display: inline-block;
}
.selectContactInfo {
  margin: 10px auto;
  text-align: center;
}
.header .editLink {
  position: relative;
  top: 50%;
  margin-top: -0.45em;
}

/*********************************************/
/**************** VIEW TICKET ****************/
/*********************************************/

.grayHeader {
  background-color: #eee;
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: table;
  position: relative;
}
.grayHeader > div {
  display: table-cell;
  vertical-align: middle;
}
.grayHeader h2 {
  display: inline-block;
  font-size: 1.3em;
  margin: 0 15px;
}
.grayHeader p {
  position: relative;
  top: 50%;
  right: 15px;
  margin-top: -0.6em;
}
/* .grayHeader a:link, .grayHeader a:visited { color: #abb3f1; }
.grayHeader a:hover { color: #cdd1f4; } */

.grayHeader img {
  margin-left: 15px;
  padding-top: 3px;
  max-width: 41px;
}

.notificationGreen {
  font-style: italic;
  color: #15a50a;
  text-align: center;
  padding: 12px 0;
  margin: 4px 0 30px 0;
  border: 2px solid #15a50a;
}
/* #bigShareButton { width: 340px; } */
#sharing { padding: 15px; }
.sharedWithFrame {
  max-width: 126px;
  position: absolute;
  z-index: 9999;
  border-bottom-right-radius: 12px;
}
.grayBox {
  background-color: #eee;
  width: 300px;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #333;
  text-align: left;
}
.grayBox li {
  margin-bottom: 0.5em;
}
#creationDate {
  color: #999;
  font-size: 0.8em;
  margin-top: 6px;
}
#shareSidebar .item {
  margin: 10px 0;
}
.sharePerson {
  float: left;
  width: 270px;
  margin: 0 10px 0 0;
  padding: 15px 10px;
}

.sharePerson .mainLine .small {
  font-size: 0.75em;
}
.mainLine {
  display: table;
}
/* .shh {
  float: right;
  cursor: pointer;
} */
.sharePerson .mainLine .middle {
  padding: 0 2px;
  display: table-cell;
  vertical-align: middle;
}
.onExpand {
  display: none;
}
.sharePerson input {
  margin-right: 4px;
}
.chooseInfo img {
  margin-bottom: -2px;
}
.chooseInfo input { margin: 0 4px 6px 0; float: left; }
.chooseInfo .infoValue {
  margin: 0 0 4px;
  font-size: 0.75em;
  color: #666;
  display: inline-block;
  position: relative;
  top: -4px;
}
.shareOptions  > .mainLine {
  margin: 6px 0 0 18px;
}
#shareButton {
  height: 40px;
  width: 100px;
  margin-bottom: 10px;
}
#gigLink {
  width: 280px;
}

/*left side*/
.userCommentFrame { display: none; }
.userComment {
  color: #333;
  border-radius: 4px;
  padding: 15px;
  margin-right: 1px;
  margin-bottom: 15px;
  float: right;
  width: 70%;
}
.userCommentFrame .author {
  float: right;
  margin-left: 10px;
  text-align: center;
  font-size: 0.8em;
}
/* .userComment .tail img {
  position: relative;
  right: 0;
  top: 0;
} */

